body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.extremidades {
  margin: 0 20px;
  width: 300px;
  height: 500px;
}
.imagenes {
  display: flex;
  justify-content: center;
}
img {
  display: block;
  margin: auto;
  width: 240px;
  height: 260px;
}
.juntos {
  display: flex;
  justify-content: center;
}
.link {
  border-radius: 12px;
}
.link a {
  text-decoration: none;
}