body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imagen_general {
    display: block;
    margin: 0 20px;
    justify-content: center;
    width: 400px;
    height: 350px;
}
.imagen_general1 {
    display: block;
    margin: 0 20px;
    width: 280px;
    height: 350px;
}
.sarrato_posterior {
    display: flex;
    margin: 0 0px;
}
.juntos {
    display: flex;
    justify-content: center;
}
img {
    display: block;
    margin: auto;
    width: 240px;
}
.link {
    border-radius: 12px;
}
.link a {
    text-decoration: none;
  }